@model BestFriend.Models.OrderModel.OrderDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderGuid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderGuid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifyOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifyOrder)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemId }) |

  
    @Html.ActionLink("Back to List", "Index")
</p>
